<!-- Events Page -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Urban Garden Restaurant/Events</title>
    <!-- Latest Font-Awesome CDN -->
    <script src="https://kit.fontawesome.com/ef99608374.js" crossorigin="anonymous"></script>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="../../assets/styles/style.css">
</head>
<body>
    <!-- Section One: Header Navigation -->
    <header>  
        <a href="../../../index.html">
            <i class="fa fa-solid fa-arrow-left"></i> 
            Back to Homepage
        </a>
    </header>

    <!-- Section Two: Intro -->
    <center>
        <h2>Under Developing Page</h2>
        <img src="../../assets/images/be-back-soon.jpg">   
    </center>

    <!-- Section Three: Footer Section -->
    <footer>
        <p>
            <i class="fa-regular fa-copyright"></i> 2024 <b>·</b> The Urban Garden Restaurant <b>·</b> All rights
            reserved
        </p>
        <p>
            Follow us on <i class="fa-solid fa-angles-right"></i>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i> Instagram</a> &
            <a href="https://www.tiktok.com"> <i class="fa-brands fa-tiktok"></i> TikTok!</a>
        </p>
    </footer>  
</body>
</html>
